<h2 data-terms="title" class="PrivacyTermsContainer-title"></h2>
<p data-terms="header" class="PrivacyTermsContainer-paragraphDocument"></p>
<ul data-terms="listData" class="PrivacyTermsContainer-list">
  <li data-terms="itemData" class="PrivacyTermsContainer-item"></li>
</ul>
<p data-terms="use" class="PrivacyTermsContainer-paragraphDocument"></p>
<ul data-terms="listUses" class="PrivacyTermsContainer-list">
  <li classList="PrivacyTermsContainer-list" data-terms="itemUses"></li>
</ul>
<p data-terms="content" class="PrivacyTermsContainer-paragraphDocument"></p>
<p data-terms="footer" class="PrivacyTermsContainer-paragraphDocument"></p>
